 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

ul {
  list-style: none;
  font-size: 20px;
  font-style: italic;
  display: flex;
 

}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

ul li {
  margin: 15px;
}

a {
  text-decoration: none;
}

body {
  background:linear-gradient(90deg, #355C7D, #6C5B7B, #C06C84);

}

.home {
  text-align: center;
  height: 100vh;
  
}

.home .name h1 {
  font-size: 60px;
  
}

.home .name h5 {
  font-size: 25px;
  
}

img {
  max-width: 60%;
}

#arrow {
  font-size: 35px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink{
  to {
    visibility: hidden;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.activeAbout {
  display: block !important;
}

#about p {
  max-width:600px;
  margin: 0 auto;
  
  
}

.form {
  width: 40%;
  margin: 0 auto;
}

.form input {
  width: 70%;
}

.form button {
  width: 15%;
  color: #545c7c;
}

/*.projects {
  margin: 50px 0px;
}
*/

.projects .nameProjects {
  text-align: center;
  text-color: #355C7D;
  font-size: 30px;
  margin: 0px 0px 50px 0px;
}

.projects {
  background:linear-gradient(90deg, #6C5B7B, #C06C84);
  /*height: 100vh;*/
  padding: 2% 5% 2% 5%;
}

#projects {
  display: flex;
  justify-content: space-around;
  
}

#projects div {
  text-align: center;
  align-content: center;
  max-width: 30%;
}

h5 {
  font-size: 18px;
}

#projects div p, h5 {

}

#projects a {
  color: #355C7D;
  font-weight: bold;
}

.logo img{
  max-width: 30%;
}

footer {
  text-align: center;
  margin: 10px;
}

footer span {
  font-weight: bold
}


