 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

ul {
  list-style: none;
  font-size: 20px;
  font-style: italic;
  display: flex;
 

}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

ul li {
  margin: 15px;
}

a {
  text-decoration: none;
}

body {
  background:linear-gradient(90deg, #355C7D, #6C5B7B, #C06C84);

}

.home {
  text-align: center;
  height: 100vh;
  
}

.home .name h1 {
  font-size: 60px;
  
}

.home .name h5 {
  font-size: 25px;
  
}

img {
  max-width: 60%;
}

#arrow {
  font-size: 35px;
  cursor: pointer;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink{
  to {
    visibility: hidden;
  }
}

.rotate {
  transform: rotate(180deg);
  transition: 300ms;
}

.activeAbout {
  display: block !important;
}

#about p {
  max-width:600px;
  margin: 0 auto;
  
  
}

.form {
  width: 40%;
  margin: 0 auto;
}

.form input {
  width: 70%;
}

.form button {
  width: 15%;
  color: #545c7c;
}

/*.projects {
  margin: 50px 0px;
}
*/

.projects .nameProjects {
  text-align: center;
  text-color: #355C7D;
  font-size: 30px;
  margin: 0px 0px 100px 0px;
}

.projects {
  background:linear-gradient(90deg, #6C5B7B, #C06C84);
  /*height: 100vh;*/
  padding: 2% 5% 2% 5%;
}

/*.projects a{
  color: black;
}

.card {
  max-width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 2px solid black;
  border-radius: 5px; 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.logo img{
  max-width: 30%;
}

footer {
  text-align: center;
  margin: 10px;
}

footer span {
  font-weight: bold
}

.desenvolvimentoProjects {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.desenvolvimentoProjects p {
  font-size: 30px;  

}

.desenvolvimentoProjects img{
  width: 35%;
  height: 35%;

}
